/* mystyle.css */
body {
    color: #000000;
    background-color: #FFFFFF
	}
	p.italic {
	font-size : 28px;
    font-style: italic;
	}
	p.oblique {
	font-size : 18px;
    font-style: oblique;
    }
	table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}